task2/Task2_Workflow_nitesh.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        144
      ],
      "id": "78334e2e-1ede-41f5-a2ed-ee87e94b2f8a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.github.com/search/repositories?q=javascript&sort=stars&order=desc",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        160
      ],
      "id": "8d7488bc-443f-4d30-a30f-03bbc87f3e70",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.items\n  .slice(0,5)\n  .map(repo => ({\n    json: {\n      name: repo.name,\n      stars: repo.stargazers_count,\n      owner: repo.owner.login\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        160
      ],
      "id": "418f0ea8-6a4b-4365-bb5e-28ab5b39a3d5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        160
      ],
      "id": "850b590b-3e56-464f-8fca-ec784c8a6be5",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "478908f6-2f52-4cca-92b0-848809d7138b",
              "leftValue": "={{ $('Code in JavaScript').item.json.stars }}",
              "rightValue": 250000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        160
      ],
      "id": "ba3627d3-f7c8-443a-966d-f6f99847edb3",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "5216193683",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        64
      ],
      "id": "a19f774b-e88e-4a20-b10b-55368bba2fc3",
      "name": "Send a text message",
      "webhookId": "1f3caa65-067f-43c1-9a3d-a2377e0a1112",
      "credentials": {
        "telegramApi": {
          "id": "cEpd52RbFGeRnlVe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5216193683",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        256
      ],
      "id": "3cdb5430-7fe3-4cf8-a9aa-914e31ad4e49",
      "name": "Send a text message1",
      "webhookId": "1f3caa65-067f-43c1-9a3d-a2377e0a1112",
      "credentials": {
        "telegramApi": {
          "id": "cEpd52RbFGeRnlVe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const repos = items.map(\n  (item, index) =>\n    `${index + 1}. ${item.json.name} (${item.json.stars || $('Code in JavaScript').first().json.stars} ⭐)`\n);\n\nreturn [{\n  json: {\n    message:\n      \"🚀 Popular GitHub Repositories\\n\\n\" +\n      repos.join(\"\\n\")\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        64
      ],
      "id": "66baf266-c28e-4fbf-bff1-c639a211e51b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const repos = items.map(\n  (item, index) =>\n    `${index + 1}. ${item.json.name} (${item.json.stars || $('Code in JavaScript').first().json.stars} ⭐)`\n);\n\nreturn [{\n  json: {\n    message:\n      \" Normal  Repositories\\n\\n\" +\n      repos.join(\"\\n\")\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        256
      ],
      "id": "b1bf134d-2f0a-4ef3-9d80-c8c01d5fdac6",
      "name": "Code in JavaScript2"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4cf968098f5828263526c395125dd16be65bfce11e1097945dbd9c2116ef095"
  }
}